[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "==3.0.0"
matplotlib = ">=3.10.7"
pylint = "~=4.0.4"
black = "*"
pytest = ">=9.0.0"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
